# APP CONFIG

[GENERAL]
workflows=replace,add_missing

[WF_CONFIGS]
# add relative path to the workflow config file, starting from the main script location
# e.g.: if workflow config file in in the same directory as main script (alma-dspace-synchronizer.py), write
# just its filename
replace=replace_wf_config.ini
add_missing=add_missing_wf_config.ini
