[loggers]
keys=root,workflow

[handlers]
keys=consoleHandler,fileHandler,workflowErrorHandler

[formatters]
keys=standardFormatter,workflowErrorFormatter

[logger_root]
level=INFO
handlers=consoleHandler,fileHandler

[logger_workflow]
level=ERROR
handlers=workflowErrorHandler
qualname=workflow
propagate=1

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=standardFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=handlers.TimedRotatingFileHandler
level=INFO
formatter=standardFormatter
args=('testing.log','midnight',1,14,'utf-8')

[handler_workflowErrorHandler]
class=FileHandler
level=ERROR
formatter=workflowErrorFormatter
args=('workflow_errors.log', 'w', 'utf-8')

[formatter_standardFormatter]
format=%(asctime)s - %(levelname)-8s - %(name)s - %(message)s

[formatter_workflowErrorFormatter]
format=%(message)s